<!-- toedata binding -->
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Excluir Produto</mat-card-title>
    </mat-card-header>
    <br >    
    <form class="form">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput placeholder="Preço (R$)" [value]="product.price" name="price" disabled>
        </mat-form-field>                
    </form>    
     <div>
        <button id="btnUpdate" mat-raised-button (click)="deleteProduct()">Deletar</button>
        <button id="btnCancel" mat-raised-button (click)="cancel()">Cancelar</button>
     </div>    
</mat-card>
