form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    margin: 20px 15px 0px 0px;    
}

#btnUpdate{
    background-color: red;
    color: white;
}

#btnCancel {
    background-color: grey;
    color: white;
}